{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}SUPizza - Connexion{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div id="login-error">
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" class="form-control" name="_password" required="required" />
        </div>
        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <a href="{{ path('fos_user_resetting_request') }}" class="pull-right">
                <i class="fa fa-fw fa-lock"></i>
                Mot de passe oublié
            </a>
        </div>

        <button type="submit" id="_submit" class="btn btn-success" name="_submit">
            <i class="fa fa-sign-in"></i>
            {{ 'security.login.submit'|trans }}
        </button>
        <a href="{{ path('fos_user_registration_register') }}" id="_register" class="btn btn-default" name="_register">
            <i class="fa fa-pencil-square-o"></i>
            Inscription
        </a>
    </form>
{% endblock fos_user_content %}
